.layout-background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mobile-container {
  width: 390px;
  height: 844px;
  background-color: white;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}