html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #E5ECF4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Pretendard', sans-serif; /* 또는 시스템 폰트 */
}

#root {
  width: 390px;
  height: 844px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}